<h1>Movies</h1>
<progress *ngIf="loading()"></progress>
<ul>
  <li *ngFor="let movie of movies()">
    <span>{{ movie.title }}</span>
    <span>
      <i *ngFor="let i of getNums(movie.rating)">&hearts;</i>
    </span>
    <div class="rate">
      <input
        type="range"
        [id]="movie.title"
        [value]="movie.rating"
        name="volume"
        min="0"
        max="5"
        (input)="rate($event, movie)"
      />
      <label [for]="movie.title">Rating</label>
    </div>
  </li>
</ul>
